<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.toycode.pwmemo" android:versionCode="2" android:versionName="1.01">
	<application android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:name="App">
		<activity android:name=".MainListActivity"
		          android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="InterceptListActivity" 
		          android:label="@string/app_name_mushroom"
		          android:theme="@android:style/Theme.Dialog"
		          >
			<intent-filter>
				<action android:name="com.adamrocker.android.simeji.ACTION_INTERCEPT" />
				<category android:name="com.adamrocker.android.simeji.REPLACE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity android:name=".EditActivity"></activity>
		<activity android:name=".DeclarMasterPasswordActivity"
                 android:label="@string/app_name_master_password">
		</activity>
		<activity android:name=".UpdateMasterPasswordActivity"
				   android:label="@string/app_name_master_password">
		</activity>
		<activity android:name=".PwMemoPreferenceActivity"
		          android:label="@string/app_name_preference">
		</activity>
		<activity android:name=".ExportActivity"
		          android:label="@string/app_name_export">
		</activity>
		<activity android:name=".ImportActivity" 
		          android:label="@string/app_name_import">
		</activity>
		<activity android:name=".ImplicitIntentImportActivity"
		          android:label="@string/app_name_import">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="file" />
				<data android:mimeType="*/*" />
				<data android:pathPattern=".*\\.pwmemo" />
				<data android:host="*" />
			</intent-filter>	
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="application/*" />
			</intent-filter>
		</activity>
		<activity android:name=".AboutActivity" 
		          android:label="@string/app_name">
		</activity>
		<provider android:name=".ExportProvider" android:authorities="com.toycode.pwmemo.exportprovider"></provider>
	</application>
	<uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest> 
